<div *ngIf="!loading">
  <div class="search">
    <mat-form-field>
      <input matInput name="attraction" placeholder="Search attractions" [matAutocomplete]="attractionAutocomplete"
        [formControl]="attractionSearchControl" />
    </mat-form-field>

    <mat-autocomplete #attractionAutocomplete="matAutocomplete" [displayWith]="displayableAttraction" (optionSelected)="attractionSelected($event.option.value)">
      <mat-option *ngFor="let attraction of attractions | async" [value]="attraction">
        {{ displayAttraction(attraction) }}
      </mat-option>
    </mat-autocomplete>

    <button mat-raised-button color="primary" (click)="onCreateMode()">
      Create New
    </button>
  </div>

  <mat-card *ngIf="attraction?.googlePlace?.placeId != null" class="unblock-card">
    <div class="row">
      <div>Name:</div>
      <div>{{attraction.googlePlace.name}}</div>
    </div>

    <div class="row">
      <div>Image:</div>
      <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{attraction.googlePlace.photoUrl}}&key=AIzaSyC58Vw5LAsU1APbTdkQb3J14mMadVhx7Sc" />
    </div>

    <div class="row">
      <div>Website:</div>
      <a [href]="attraction.googlePlace.website">{{attraction.googlePlace.website}}</a>
    </div>

  </mat-card>

  <mat-card class="unblock-card">
    <div class="row">
      <mat-form-field>
        <input matInput name="name" placeholder="Name" required [formControl]="nameControl" />
      </mat-form-field>

      <div class="mat-form-field" *ngIf="attraction">
        <button mat-raised-button color="primary" (click)="onDisableToggle()">
          {{disabled ? 'Enable Attraction' : 'Disable Attraction'}}
        </button>
      </div>
    </div>

    <div class="row">
      <mat-form-field>
        <textarea matInput name="description" placeholder="Description" required [formControl]="descriptionControl"></textarea>
      </mat-form-field>
    </div>

    <div class="row" *ngIf="attraction">
      <div class="mat-form-field">
        <button mat-raised-button color="primary" (click)="onUpdateInfo()">
          Update info
        </button>
      </div>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-select placeholder="Select Block" [formControl]="blockControl">
          <mat-option *ngFor="let block of fullBlocksList | async" [value]="block">
            {{displayBlock(block)}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="mat-form-field" *ngIf="attraction">
        <button mat-raised-button color="primary" (click)="onUpdateBlock()">
          Update block
        </button>
      </div>
    </div>

    <div class="map-div">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16" (mapRightClick)="onCreateNewPoint($event)">
        <agm-marker *ngIf="centerLat" [latitude]="centerLat" [longitude]="centerLng"></agm-marker>
      </agm-map>
    </div>


    <div class="row">
      <div class="mat-form-field" *ngIf="!attraction">
        <button mat-raised-button color="primary" (click)="onCreate()">
          Create
        </button>
      </div>
    </div>
  </mat-card>
</div>