<div class="container">
    <form #newBlockForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group" *ngIf="!block.id">
            <label for="name">Block name:</label>
            <input class="form-control" name="name" type="text" [(ngModel)]="block.name" />
        </div>
        <h5 *ngIf="block.id">Name: {{block.name}}</h5>
        <div>
            <label for="points"></label>
            <ul name="points">
                <li *ngFor="let point of block.bounds.points">{{point.x}}, {{point.y}}</li>
            </ul>
        </div>
        <button md-raised-button>Submit</button>
        <div [hidden]="!error ">{{error}}</div>
    </form>
    <div *ngIf="error">{{error}}</div>
</div>