<mat-toolbar color="primary">
  <div class="toolbar-elements">
    <a mat-button class="title" routerLink="/" routerLinkActive="active">unBlock</a>
    <nav mat-tab-nav-bar>
      <a mat-button routerLink="/admin/users" routerLinkActive="active">Users</a>
      <a mat-button routerLink="/admin/cities" routerLinkActive="active">Cities</a>
      <a mat-button routerLink="/admin/neighborhoods" routerLinkActive="active">Neighborhoods</a>
      <a mat-button routerLink="/admin/blocks" routerLinkActive="active">Blocks</a>
      <a mat-button routerLink="/admin/attractions" routerLinkActive="active">Attractions</a>
    </nav>

    <a class="logout" mat-button *ngIf="isLoggedIn()" (click)="logout()">Logout</a>
  </div>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>

<div #gmap></div>