<div *ngIf="neighborhood">
    <h3>Title: {{neighborhood.name}}</h3>
    <h5>Image: {{neighborhood.image}}</h5>

    <button md-raised-button (click)="onNewBlockClick()">New Block</button>

    <new-block *ngIf="newBlock" [points]="newPoints"></new-block>
    <!--<cur-block *ngIf="!newBlock && curBlock"></cur-block>-->

    <button md-raised-button *ngIf="newBlock" (click)="onResetClick()">Reset</button>

    <svg [attr.width]="imageWidth" [attr.height]="imageHeight">
        <defs>
            <pattern id="image" x="0" y="0" patternUnits="userSpaceOnUse" [attr.width]="imageWidth" [attr.height]="imageHeight">
                <image x="0" y="0" [attr.xlink:href]="getNeighborhoodImageUrl()"></image>
            </pattern>
        </defs>
        <rect [attr.width]="imageWidth" [attr.height]="imageHeight" fill="url(#image)" (click)="onBackgroundClick($event)" />
        <polygon *ngIf="newBlock" [attr.points]="getNewPointsPolygon()" fill="red" fill-opacity="0.3" />
        <circle *ngFor="let point of newPoints" [attr.cx]="point.x" [attr.cy]="point.y" r="4" fill="red" (mousedown)="pointMouseDown($event)"
            (mouseup)="pointMouseUp($event)" (mousemove)="pointMouseMove($event, point)" />
    </svg>
</div>
<button class="btn btn-success" (click)="onEditClick()">Edit</button>