<div *ngIf="neighborhood">
    <h3>Title: {{neighborhood.name}}</h3>
    <h5>Image: {{neighborhood.image}}</h5>

    <button mat-raised-button (click)="onNewBlockClick()">New Block</button>
    <button mat-raised-button (click)="onNewAttractionClick()">New Attraction</button>

    <new-block *ngIf="curBlock" [block]="curBlock" [neighborhoodId]="neighborhood.id" (blockCreated)="onNewBlock($event)"></new-block>

    <button mat-raised-button *ngIf="curBlock" (click)="onResetClick()">Reset</button>
    <button mat-raised-button *ngIf="curBlock" (click)="onCancelClick()">Cancel</button>

    <svg [attr.width]="imageWidth" [attr.height]="imageHeight">
        <defs>
            <pattern id="image" x="0" y="0" patternUnits="userSpaceOnUse" [attr.width]="imageWidth" [attr.height]="imageHeight">
                <image x="0" y="0" [attr.xlink:href]="getNeighborhoodImageUrl()"></image>
            </pattern>
        </defs>
        <rect [attr.width]="imageWidth" [attr.height]="imageHeight" fill="url(#image)" (click)="onBackgroundClick($event)" (mousemove)="pointMouseMove($event)"
        />
        <polygon *ngIf="curBlock" [attr.points]="getNewPointsPolygon()" fill="blue" fill-opacity="0.7" />
        <circle *ngFor="let point of curBlock?.bounds.points" [attr.cx]="point.x" [attr.cy]="point.y" r="4" fill="red" (mousedown)="pointMouseDown($event, point)"
            (mouseup)="pointMouseUp($event)" (mousemove)="pointMouseMove($event)" />

        <g *ngFor="let block of neighborhood.blocks">
            <polygon [attr.points]="getBlockPointsPolygon(block)" fill="red" fill-opacity="0.3" (click)="onBlockClick(block)" />
            <circle *ngFor="let point of block.bounds.points" [attr.cx]="point.x" [attr.cy]="point.y" r="4" fill="red" (mousedown)="pointMouseDown($event, point)"
                (mouseup)="pointMouseUp($event)" (mousemove)="pointMouseMove($event)" />
        </g>
    </svg>
</div>
<button class="btn btn-success" (click)="onEditClick()">Edit</button>