<div class="search">
    <mat-form-field>
        <input matInput name="username" placeholder="Search username" [matAutocomplete]="userAutocomplete"
            [formControl]="usernameSearchControl" />
    </mat-form-field>

    <mat-autocomplete #userAutocomplete="matAutocomplete" [displayWith]="displayUser"
        (optionSelected)="userSelected($event.option.value)">
        <mat-option *ngFor="let user of users | async" [value]="user">
            {{ user.username }}
        </mat-option>
    </mat-autocomplete>

    <button mat-raised-button color="primary" (click)="onCreateMode()">
        Create New
    </button>
</div>

<mat-card class="unblock-card">
    <div class="row">
        <mat-form-field>
            <input matInput name="username" placeholder="Username" required [formControl]="usernameControl"
            />
        </mat-form-field>

        <mat-form-field>
            <input matInput name="email" placeholder="Email" required [formControl]="emailControl"
            />

        </mat-form-field>
    </div>

    <div class="row">
        <div class="mat-form-field">
            <mat-checkbox name="admin" [formControl]="adminControl">
                Admin
            </mat-checkbox>
        </div>

        <div class="mat-form-field">
            <button *ngIf="user" mat-raised-button color="primary" (click)="onSave()">
                Save
            </button>
        </div>
    </div>

    <div class="row">
        <mat-form-field>
            <input matInput type="password" name="password" placeholder="New Password" required
                [formControl]="passwordControl" />
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" name="passwordConfirm" placeholder="Confirm Password"
                required [formControl]="passwordConfirmControl" />
        </mat-form-field>
    </div>

    <div class="row">
        <div class="mat-form-field">
            <button *ngIf="user" mat-raised-button color="primary" (click)="onChangePassword()">
                Change Password
            </button>
            <button *ngIf="!user" mat-raised-button color="primary" (click)="onCreateNew()">
                Save
            </button>
        </div>
    </div>

</mat-card>