<div class="search">
  <mat-form-field>
    <input matInput name="city" placeholder="Search cities" [matAutocomplete]="cityAutocomplete"
      [formControl]="citySearchControl" />
  </mat-form-field>

  <mat-autocomplete #cityAutocomplete="matAutocomplete" [displayWith]="displayCity"
    (optionSelected)="citySelected($event.option.value)">
    <mat-option *ngFor="let city of cities | async" [value]="city">
      {{ city.name }}
    </mat-option>
  </mat-autocomplete>

  <button mat-raised-button color="primary" (click)="onCreateMode()">
    Create New
  </button>
</div>

<mat-card class="unblock-card">
  <div class="row">
    <mat-form-field>
      <input matInput name="name" placeholder="Name" required [formControl]="nameControl"
      />
    </mat-form-field>

    <div class="mat-form-field">
      <button mat-raised-button color="primary" (click)="onSave()">
        Save
      </button>
    </div>
  </div>

  <div class="row" *ngIf="city">
    <div class="mat-form-field">
      <button mat-raised-button color="primary" (click)="onDisableToggle()">
        {{disabled ? 'Enable' : 'Disable'}}
      </button>
    </div>
  </div>


  <div class="row" *ngIf="city">
    <mat-form-field>
      <mat-select placeholder="Neighborhoods" [formControl]="neighborhoodControl">
        <mat-option *ngFor="let neighborhood of neighborhoods">
          {{neighborhood.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="mat-form-field">
      <button mat-raised-button color="primary" (click)="editNeighborhood()">
        Edit
      </button>
    </div>
  </div>


</mat-card>